body {background-image: url("https://img.freepik.com/vector-premium/fondo-transparente-azul-huellas-patas-gato-perro_560021-99.jpg?w=826"); font-family: 'Play', sans-serif;}

.center{text-align: center;}

.title{font-size: 5vw; color: rgba(255, 255, 0, 0.957);}